<%- include partials/header.ejs%>
        
        <p>I am <%=myName%></p>
        <img src="images/robot_neon.png" title="Robot"/>

    <script src="/javascripts/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>